<% provide(:title, @movie.title) %>
<div class="flex">
    <h1><%= @movie.title %></h1>

    <% if logged_in? && current_user.admin? %>
        <div class="buttons">
            <%= link_to "Edit", edit_movie_path(@movie),
                                    class: "btn btn-md btn-primary" %>
            <%= link_to "Delete", @movie, data: { "turbo-method": :delete,
                                                   turbo_confirm: "You sure?" },
                                          class: "btn btn-md btn-danger" %>
        </div>
    <% end %>
</div>

<p><%= @movie.synopsis %></p>

<% if @movie_showings.any? %>
    <hr>
    <h3 class="left">Showings</h3>
    
    <ol class="indices">
        <%= render @movie_showings %>
    </ol>
    
    <%= will_paginate @movie_showings %>
<% end %>