<li>
    <h2><%= link_to booking.showing.movie.title, booking.showing %></h2>
    <%= time_in_words(booking.showing.timeslot) %> | 
    <%= booking.showing.cinema.name %> <br>
    Seat number: <%= booking.seat_number %>

    <% if current_user.admin? %>
        <br>Booked by: <%= booking.user.full_name %>
    <% end %>

    </p>
    
    <% if current_user?(booking.user) %>
        <%= link_to "Delete", booking, data: { "turbo-method": :delete,
                                                    turbo_confirm: "You sure?" },
                                           class: "btn btn-sm btn-danger" %>
    <% end %>
</li>