<% provide(:title, @user.full_name) %>
<div class="row">
    <aside class="col-md-3">
        <section class="user_info">
            <h1>
                <%= @user.full_name %>
            </h1>
            <br>
            Mobile Number: <%= @user.mobile_number %>
        </section>
    </aside>

    <div class="col-md-9">
        <h3>Bookings (<%= @bookings.count %>)</h3>
        <% if @bookings.any? %>
            <ul class="indices">
                <%= render @bookings %>
            </ul>

            <%= will_paginate @bookings %>
        <% end %>
    </div>
</div>